apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-docker-deployment
  labels:
    app: node-docker-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node-docker-deployment
  template:
    metadata:
      labels:
        app: node-docker-deployment
    spec:
      containers:
      - name: node-docker-deployment
        image: ghcr.io/29574196/node-docker-devops:sha-e40848142c18a7c02677c5c7090ffbceebac508e
        # Image will be automatically updated by CI/CD pipeline
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "0.5"
            memory: "512Mi"
          requests:
            cpu: "0.2"
            memory: "256Mi"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
      imagePullSecrets:
      - name: github-container-registry