apiVersion: v1
kind: Service
metadata:
  name: node-docker
  labels:
    app: node-docker
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: tic-tac-toe